.section {
  position: relative;
  height: 100vh;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-15px) scale(9);
  background-size: 100%;
  z-index: -1;
  background-repeat: no-repeat;
}

.static {
  background: white;
  z-index: 9999;
  //height: fit-content;
}
