<div #about class="container" style="padding-top:50px">

  <div class="row" style="height: 100px"></div>

  <div class="row slide-fade-in" appDeferLoad (inView)="vis=$event" [ngClass]="{show: vis}">
    <div class="col">
      <div class="section-title text-center">About</div>
    </div>
  </div>

  <div class="row" style="height:50px"></div>
  <div class="row">
    <div class="card slide fade-in" appDeferLoad (inView)="cVis=$event" [ngClass]="{show: cVis}">
      <div class="card-header">
        <h6 class="card-title mb-0 font-size-20 font-weight-normal">About Me</h6>
      </div>
      <div class="card-body card-text font-size-16">
        <span style="color: #006da8">Hi! I'm Tong,</span> and I'm an aspiring software and hardware developer.
        I'm currently studying Computer Engineering at the University of Waterloo and in my 2B term. My development
        experience so far has been in full-stack development, although I'm always open to new opportunities. I've worked
        with a couple frameworks and platforms, both personally and professionally as listed above.<br><br>
        If you're interested in starting a conversation with me about any future opportunities, feel free to contact me.
        You can reach me on <a href="https://www.linkedin.com/in/tong-su-uw" target="_blank">LinkedIn</a>, or at
        <a href="mailto:contact@tongsu.dev">contact@tongsu.dev</a>.<br><br>
        This page was built with Angular, and is hosted by GitHub Pages. You can see the repository
        <a href="https://github.com/Teasync/teasync">here</a>, and you can visit my GitHub profile
        <a href="https://github.com/Teasync/">here</a>.
      </div>
    </div>
  </div>
  <div class="row" style="height:200px"></div>
  <div class="row" style="height:50px" class="text-center">Copyright © 2019 Tong Su</div>

</div>
