<!--<div class="container-fluid hero-image wrapper">-->
<!--  <div class="cloud-container">-->
<!--    <div class="cloud"></div>-->
<!--  </div>-->
<!--  <div class="row" style="height:12vh">&nbsp;</div>-->
<!--  <div class="row">-->
<!--    <div class="col hero-title h1">-->
<!--      TONG SU-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row" style="height: 25vh">-->
<!--    &nbsp;-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col"></div>-->
<!--    <div class="col-md-auto">-->
<!--      <div class="container h5 hero-info-box py-2 px-3">-->
<!--        University of Waterloo <br>-->
<!--        Class of 2022<br>-->
<!--        Candidate for BASc in Computer Engineering<br>-->
<!--        <div class="text-center pt-2">-->
<!--          <a href="https://www.linkedin.com/in/tong-su-uw" target="_blank"-->
<!--             class="fa fa-linkedin-square text-center px-2"></a>-->
<!--          <a href="https://github.com/Teasync/" target="_blank"-->
<!--             class="fa fa-github-square text-center px-2"></a></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col"></div>-->
<!--  </div>-->
<!--</div>-->

<section #hero_img class="section parallax hero-img">
  <div class="cloud-container">
    <div class="cloud"></div>
    <div class="cloud-2"></div>
  </div>
  <div class="container-fluid">
    <div class="row" style="min-height: 12vh;"></div>
  </div>
  <h1 class="hero-title">TONG SU</h1>
  <div class="row" style="height: 20vh;"></div>
  <div class="container hero-info-box-wrapper">
    <div class="hero-info-box py-2 px-3 h5">
      University of Waterloo <br>
      Class of 2022<br>
      Candidate for BASc in Computer Engineering<br>
      <!--              <div class="text-center pt-2">-->
      <!--                <a href="https://www.linkedin.com/in/tong-su-uw" target="_blank"-->
      <!--                   class="fa fa-linkedin-square text-center px-2"></a>-->
      <!--                <a href="https://github.com/Teasync/" target="_blank"-->
      <!--                   class="fa fa-github-square text-center px-2"></a></div>-->
    </div>
  </div>
  <app-nav [isHeroNav]="true"></app-nav>
</section>
