.card-header {
  min-width: 350px;
  width: 45%;
  padding-right: 2em;
  z-index: 99;
  color: white;
  background-color: #2177a6;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.card-body {
  transform: scale(0.98) translate(0, -40px);
  border-color: #d3e4eb !important;
  border-width: 0.5px !important;
  border-style: solid;
}

.card {
  border: none;
}
