<div class="container">

  <div class="row" style="height: 100px"></div>

  <div class="row">
    <div class="col">
      <div class="timeline-title text-center">Timeline</div>
    </div>
  </div>

  <div class="row" style="height:50px"></div>

  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          Scotiabank FactoryU
        </div>
        <div class="card-body">
          <h5 class="card-title">Innovation Engineering</h5>
          <p class="card-text">Job description goes here, bippity boppity boop. Eat da booboo.</p>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="right-arrow"></div>
    </div>
    <div class="col">
      <div class="v-line" style="text-align: center"></div>
    </div>
    <div class="col"></div>
    <div class="col-5"></div>
  </div>

  <div class="row" style="height:20px">
    <div class="col">
      <div class="v-line"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-5"></div>
    <div class="col"></div>
    <div class="col">
      <div class="v-line" style="text-align: center"></div>
    </div>
    <div class="col text-center">
      <div class="left-arrow"></div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          Scotiabank FactoryU
        </div>
        <div class="card-body">
          <h5 class="card-title">Innovation Engineering</h5>
          <p class="card-text">Job description goes here, bippity boppity boop. Eat da booboo.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="height:20px">
    <div class="col">
      <div class="v-line"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          Scotiabank FactoryU
        </div>
        <div class="card-body">
          <h5 class="card-title">Innovation Engineering</h5>
          <p class="card-text">Job description goes here, bippity boppity boop. Eat da booboo.</p>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="right-arrow"></div>
    </div>
    <div class="col">
      <div class="v-line" style="text-align: center"></div>
    </div>
    <div class="col"></div>
    <div class="col-5"></div>
  </div>

  <div class="row"></div>

  <div class="row"></div>

  <div class="row"></div>

  <div class="row"></div>

  <div class="row"></div>

</div>
