<div #projects class="container" style="padding-top:50px">
  <div class="row" style="height:100px"></div>
  <div class="row slide-fade-in" appDeferLoad (inView)="vis=$event" [ngClass]="{show: vis}">
    <div class="col">
      <div class="section-title text-center">Projects</div>
    </div>
  </div>
  <div class="row" style="height:50px"></div>

  <ng-template #projectTemplate let-a="project">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title"><span
          class="font-weight-normal">{{a.name}}</span>
        </h6>
        <h6 class="card-subtitle">{{a.platforms}}</h6>
      </div>
      <img *ngIf="a.img" [alt]="a.name" class="card-img mb-2" [src]="a.img">
      <div class="card-body  card-text">
        {{a.description}}
      </div>
    </div>
  </ng-template>

  <div *ngFor="let project of projectList; let i = index">
    <div *ngIf="i % 3 == 0" class="row slide-fade-in" appDeferLoad (inView)="projectListVis[i]=$event" [ngClass]="{show: projectListVis[i]}">
      <div *ngIf="i < projectList.length" class="col">
        <ng-container *ngTemplateOutlet="projectTemplate; context: {project: project}"></ng-container>
      </div>
      <div *ngIf="i + 1< projectList.length" class="col">
        <ng-container *ngTemplateOutlet="projectTemplate; context: {project: projectList[i + 1]}"></ng-container>
      </div>
      <div *ngIf="i + 2 < projectList.length" class="col">
        <ng-container *ngTemplateOutlet="projectTemplate; context: {project: projectList[i + 2]}"></ng-container>
      </div>
    </div>
    <div *ngIf="i % 3 == 0" class="row" style="height:20px"></div>
  </div>
  <div class="row" style="height:100px"></div>
</div>
