<nav [ngClass]="{'show_' : visible, 'hide_' : !visible, 'nav-dark': !isHeroNav, 'nav-light': isHeroNav, 'sticky': !isHeroNav}"
     [ngStyle]="{'opacity': visible ? 1 : 0}"  #nav
     class="navbar-cust d-flex justify-content-center flex-row">
  <a (click)="navWork($event)" class="nav-it h3" id="navWork" style="cursor: pointer"> Timeline </a>
  <a (click)="navProjects($event)" class="nav-it h3" id="navProjects" style="cursor: pointer"> Projects </a>
  <a href="#" class="nav-it h3" id="navSkills"> Skills </a>
  <a href="#" class="nav-it h3" id="navAbout"> About </a>
</nav>
