@import "~src/styles/global/parallax";

$tr-time: 0.15s;

@mixin transition($str) {
  -webkit-transition: $str;
  -moz-transition: $str;
  -ms-transition: $str;
  -o-transition: $str;
  transition: $str;
}

* {
  box-sizing: border-box;
}

.navbar-cust {
  overflow: hidden;
  width: 100vw;
  height: 80px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.nav-it {
  font-size: 1.7em;
  font-weight: 300 !important;
  pointer-events: auto;
  padding: 25px 1.2vw;
  margin: auto 0 auto 0;
  text-decoration: none;
}

.nav-light {
  background-color: rgba(255, 255, 255, 0.51) !important;
  @include transition(opacity #{$tr-time});

  .nav-it {
    color: #005288 !important;
    &:hover {
      background-color: rgba(0, 82, 136, 0.76) !important;
      color: white !important;
    }
  }

  bottom: 0;
  position: absolute;
}

.nav-dark {
  background-color: rgba(0, 59, 98, 0.6) !important;
  @include transition(opacity #{$tr-time});

  .nav-it {
    color: white !important;
    &:hover {
      background-color: rgba(255, 255, 255, 0.75) !important;
      color: #005288 !important;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100vw;
  pointer-events: none;
}

.hide_ {
  visibility: hidden !important;
}

.show_ {
  visibility: visible !important;
}
