<div class="wrapper" (scroll)="onScroll($event)">
  <app-hero></app-hero>
<!--  <section class="section static" style="min-height: 3000px;">-->
  <section class="section static" style="height:fit-content">
    <app-timeline></app-timeline>
  </section>

  <app-divider [dividerType]="'abstract'"></app-divider>

  <section class="section static" style="height:fit-content">
    <app-projects></app-projects>
  </section>

  <app-divider [dividerType]="'woods'"></app-divider>

  <section class="section static" style="height:fit-content">
    <app-skills></app-skills>
  </section>

  <app-divider [dividerType]="'lake'"></app-divider>

  <section class="section static" style="height: fit-content">
    <app-about></app-about>
  </section>

</div>
<app-nav [isHeroNav]="false"></app-nav>


