@import "~src/styles/global/parallax";

.dividerAbstract::after {
  background-image: url('../../assets/img/mountains.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  height: 500px !important;
  transform: translateY(-50px) translateZ(-0.4px) scale(1.21);
}

.dividerAbstract {
  height: 300px !important;
  min-height: 300px;
  background-color: white;
}
