@import "~src/styles/global/parallax";

.dividerAbstract::after {
  background-image: url('../../assets/img/abstract.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  height: 1000px !important;
  transform: translateY(-200px) translateZ(-1.5px) scale(1.76);
}

.dividerLake::after {
  background-image: url('../../assets/img/lake.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  height: 1000px !important;
  transform: translateY(-180px) translateZ(-1.5px) scale(1.76);
}

.dividerWoods::after {
  background-image: url('../../assets/img/woods.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  height: 1000px !important;
  transform: translateY(-80px) translateZ(-1.5px) scale(1.76);
}

.divider {
  height: 300px !important;
  min-height: 300px;
}

