:root {
  --transition-time: .2s;
}
$anim_time: 0.5s;
* {
  border-radius: 0 !important;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #6e6e6e;
  z-index: -5;
}

.hidden {
  display: none
}

.row {
  margin: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  margin: 0;
  padding: 0;
}

.section-title {
  text-align: center;
  font-weight: 300;
  font-size: 400%;
  color: #006da8;
}

.slide-fade-in {
  transition: all ease-out $anim_time;
  transform: translate(0, 40px) rotateX(0.02deg);
  transform-style: preserve-3d;
  transform-origin: top;
  opacity: 0;
}

.slide-fade-in.show {
  opacity: 1;
  transform: none;
}

.fade-in {
  opacity: 0;
  transition: opacity ease-out $anim_time;
}

.fade-in.show {
  opacity: 1;
}

.fade-in-anim {
  animation: fadein 1s;
  animation-fill-mode: both;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

